In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import glob

In [2]:
# Set path (Change to your file path)
path = r'C:\Users\Michael\Documents\GitHub\final-project\data\basic_index'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
    
frame = pd.concat(li, axis=0, ignore_index=True)

In [3]:
# Combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])

C:\Users\Michael\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [30]:
# Read csv into pandas
df = pd.read_csv(file, encoding="ISO-8859-1")
df

,CountryID,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,71.0,Hong Kong,HongKong,Asia-Pacific,1.0,1.0,90.2,93.3,75.3,83.8,...,Hong Kong SAR,7.4,$454.9,3.8,2.8,"$61,393",3.1,1.5,"104,333.0",0.1
1,147.0,Singapore,Singapore,Asia-Pacific,2.0,2.0,89.4,97.4,92.4,95.1,...,Singapore,5.6,$527.0,3.6,3.5,"$93,906",2.0,0.6,"62,006.0",110.9
2,120.0,New Zealand,NewZealand,Asia-Pacific,3.0,3.0,84.4,95.0,83.5,96.7,...,New Zealand,4.8,$188.6,3.0,3.3,"$38,934",4.9,1.9,"3,572.0",26.4
3,158.0,Switzerland,Switzerland,Europe,4.0,1.0,81.9,85.3,82.0,88.0,...,Switzerland,8.4,$517.2,1.1,1.6,"$61,422",4.8,0.5,"40,986.1",42.8
4,7.0,Australia,Australia,Asia-Pacific,5.0,4.0,80.9,79.1,86.5,79.9,...,Australia,24.8,"$1,246.5",2.3,2.4,"$50,334",5.6,2.0,"46,368.0",41.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,97.0,Liechtenstein,Liechtenstein,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,Liechtenstein,"38,000 ppl.",$6.1 CHF (2014 ),NaN,NaN,"$139,100 (2009 est.)",2.1 (2016),NaN,NaN,NaN
183,184.0,Somalia,Somalia,Sub-Saharan Africa,NaN,NaN,NaN,33.7,26.6,7.9,...,Somalia,14.3,$18.70,1.8,2.2,NaN,6.0,NaN,384.0,NaN
184,159.0,Syria,Syria,Middle East and North Africa,NaN,NaN,NaN,37.0,24.4,20.3,...,Syria,18.4,NaN,NaN,NaN,NaN,14.9,NaN,NaN,NaN
185,181.0,Yemen,Yemen,Middle East and North Africa,NaN,NaN,NaN,19.6,22.2,20.3,...,Yemen,30.0,$38.6,-13.8,-16.1,"$1,287",14.0,4.9,-269.9,141.0
186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# Identify imcomplete rows
df.count()

countryID                             186
country_name                          186
webname                               186
region                                186
world_rank                            180
region_rank                           180
2019_score                            180
propety_rights                        185
judical_effectiveness                 185
government_integrity                  185
tax_burden                            180
govt_spending                         183
fiscal_health                         183
business_freedom                      185
labor_freedom                         184
monetary_freedom                      184
trade_freedom                         182
investment_freedom                    184
financial_freedom                     181
tariff_rate_percentage                182
income_tax_rate_percentage            183
corporate_tax_rate_percentage         183
tax_burden_of_gdp_percentage          179
govt_expenditure_of_gdp_percentage    182
country                               186
population_millions                   186
gdp_billions_ppp                      185
gdp_growth_rate_percentage            184
5_year_gdp_growth_rate_percentage     183
gdp_per_capita_ppp                    184
unemployment_percentage               181
inflation_percentage                  182
fdi_infow_millions                    181
public_debt_percent_of_gdp            182
dtype: int64

In [29]:
# Drop extra row
# df.drop(df.tail(1).index,inplace=True)
df

,countryID,country_name,webname,region,world_rank,region_rank,2019_score,propety_rights,judical_effectiveness,government_integrity,...,country,population_millions,gdp_billions_ppp,gdp_growth_rate_percentage,5_year_gdp_growth_rate_percentage,gdp_per_capita_ppp,unemployment_percentage,inflation_percentage,fdi_infow_millions,public_debt_percent_of_gdp
0,71.0,Hong Kong,HongKong,Asia-Pacific,1.0,1.0,90.2,93.3,75.3,83.8,...,Hong Kong SAR,7.4,$454.9,3.8,2.8,"$61,393",3.1,1.5,"104,333.0",0.1
1,147.0,Singapore,Singapore,Asia-Pacific,2.0,2.0,89.4,97.4,92.4,95.1,...,Singapore,5.6,$527.0,3.6,3.5,"$93,906",2.0,0.6,"62,006.0",110.9
2,120.0,New Zealand,NewZealand,Asia-Pacific,3.0,3.0,84.4,95.0,83.5,96.7,...,New Zealand,4.8,$188.6,3.0,3.3,"$38,934",4.9,1.9,"3,572.0",26.4
3,158.0,Switzerland,Switzerland,Europe,4.0,1.0,81.9,85.3,82.0,88.0,...,Switzerland,8.4,$517.2,1.1,1.6,"$61,422",4.8,0.5,"40,986.1",42.8
4,7.0,Australia,Australia,Asia-Pacific,5.0,4.0,80.9,79.1,86.5,79.9,...,Australia,24.8,"$1,246.5",2.3,2.4,"$50,334",5.6,2.0,"46,368.0",41.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,77.0,Iraq,Iraq,Middle East and North Africa,NaN,NaN,NaN,37.0,12.3,20.3,...,Iraq,38.9,$658.8,-0.8,4.7,"$16,954",8.2,0.1,"-5,032.4",58.0
181,96.0,Libya,Libya,Middle East and North Africa,NaN,NaN,NaN,7.6,24.4,15.8,...,Libya,6.4,$64.4,70.8,-7.9,"$9,986",17.7,28.0,NaN,4.7
182,97.0,Liechtenstein,Liechtenstein,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,Liechtenstein,"38,000 ppl.",$6.1 CHF (2014 ),NaN,NaN,"$139,100 (2009 est.)",2.1 (2016),NaN,NaN,NaN
183,184.0,Somalia,Somalia,Sub-Saharan Africa,NaN,NaN,NaN,33.7,26.6,7.9,...,Somalia,14.3,$18.70,1.8,2.2,NaN,6.0,NaN,384.0,NaN
184,159.0,Syria,Syria,Middle East and North Africa,NaN,NaN,NaN,37.0,24.4,20.3,...,Syria,18.4,NaN,NaN,NaN,NaN,14.9,NaN,NaN,NaN

In [6]:
df.dtypes

CountryID                      float64
Country Name                    object
WEBNAME                         object
Region                          object
World Rank                     float64
Region Rank                    float64
2019 Score                     float64
Property Rights                float64
Judical Effectiveness          float64
Government Integrity           float64
Tax Burden                     float64
Gov't Spending                 float64
Fiscal Health                  float64
Business Freedom               float64
Labor Freedom                  float64
Monetary Freedom               float64
Trade Freedom                  float64
Investment Freedom             float64
Financial Freedom              float64
Tariff Rate (%)                float64
Income Tax Rate (%)            float64
Corporate Tax Rate (%)         float64
Tax Burden % of GDP            float64
Gov't Expenditure % of GDP     float64
Country                         object
Population (Millions)           object
GDP (Billions, PPP)             object
GDP Growth Rate (%)            float64
5 Year GDP Growth Rate (%)     float64
GDP per Capita (PPP)            object
Unemployment (%)                object
Inflation (%)                  float64
FDI Inflow (Millions)           object
Public Debt (% of GDP)         float64
dtype: object

In [24]:
df2 = df.copy()

In [26]:
# Testing

SyntaxError: invalid syntax (<ipython-input-26-d7fe779026da>, line 6)